.center-h {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.hand {
  background: peachpuff;
  border-radius: 50%;
  bottom: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
}

.shorthair {
  background: #333;
  border-radius: 5px;
  width: 10px;
  height: 35px;
  top: 35px;
  position: absolute;
  z-index: 1;
}

.ear {
  background: peachpuff;
  border-radius: 50%;
  bottom: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 60px;
}

.eye1 {
  animation-name: eye1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  border-radius: 50%;
  border-bottom: 3px solid #333;
  bottom: 0px;
  width: 20px;
  height: 22px;
  position: absolute;
  top: 50px;
  z-index: 5;
}

.eye2 {
  animation-name: eye2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: #333;
  border-radius: 50%;
  bottom: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 65px;
  z-index: 5;
}

.eye2__container {
  animation-name: eye2container;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.eye3__container {
  animation-name: eye3container;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.coder {
  width: 400px;
  height: 400px;
  background-color: lightblue;
  position: relative;
}
.coder__head {
  top: 90px;
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 3;
}
.coder__head--hair {
  background: #333;
  border-radius: 20px 0px 10px 0px;
  width: 130px;
  height: 40px;
}
.coder__head--lefthair {
  left: 0px;
}
.coder__head--righthair {
  right: 10px;
}
.coder__head--face {
  background: peachpuff;
  border-radius: 0px 0px 50px 50px;
  width: 120px;
  height: 100px;
}
.coder__head--leftear {
  left: -10px;
}
.coder__head--rightear {
  right: 0px;
}
.coder__head--lefteye1 {
  left: 30px;
}
.coder__head--righteye1 {
  right: 40px;
}
.coder__head--lefteye2 {
  left: 35px;
}
.coder__head--righteye2 {
  right: 45px;
}
.coder__neck {
  background: peachpuff;
  border-radius: 50%;
  bottom: 150px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.coder__shirt {
  background: #103147;
  border-radius: 35px 35px 0px 0px;
  bottom: 0px;
  width: 190px;
  height: 170px;
}
.coder__lefthand {
  left: 90px;
}
.coder__righthand {
  right: 90px;
}
.coder__screen {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  bottom: 50px;
  width: 350px;
  height: 220px;
  z-index: 5;
}
.coder__screen--block1 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  bottom: 158px;
  left: 10px;
  width: 80px;
  height: 10px;
  position: absolute;
}
.coder__screen--block2 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  bottom: 140px;
  left: 10px;
  width: 80px;
  height: 10px;
  position: absolute;
}
.coder__screen--block3 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
  width: 200px;
  height: 120px;
  position: absolute;
}
.coder__screen--block4 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  width: 120px;
  height: 200px;
  position: absolute;
}
.coder__keyboard {
  background: white;
  border-radius: 10px;
  width: 250px;
  height: 15px;
  bottom: 0px;
  z-index: 3;
}

@keyframes eye1 {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes eye2container {
  0% {
    opacity: 0;
  }
  63% {
    opacity: 0;
  }
  64% {
    opacity: 1;
  }
}
@keyframes eye2 {
  0% {
    height: 10px;
  }
  5% {
    transform: translate(0px, 5px);
    height: 1px;
  }
  10% {
    transform: translate(0px, 0px);
    height: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
